#PORTA DA API
API_PORT=3000

#TIPO DO BANCO
APP_DB_TYPE=postgres

#HOST DO BANCO DE DADOS
APP_DB_HOST=desafio_mutual_db

#PORTA DE CONEXAO DO BANCO
APP_DB_PORT=5432

#USUARIO DE CONEXAO DO BANCO
APP_DB_USERNAME=pguser

#SENHA DE CONEXAO DO BANCO
APP_DB_PASSWORD=pguser

#DATABASE DE CONEXAO DO BANCO
APP_DB_DATABASE=postgres

#HABILITA O LOG DO BANCO
APP_DB_LOGGING=false